body {
  background-image: url('https://img.freepik.com/premium-vector/money-transfer-global-currency-stock-exchange-stock-vector-illustration_115579-1655.jpg?w=2000');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}

.value {
  max-width: 150px;
} 

.emailDiv {
  align-items: center;
  border: 3px solid rgb(237, 203, 203);
  border-radius: 7px;
  box-shadow: 9px 8px 8px 10px rgb(27, 38, 38);
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  margin-left: 35%;
  margin-top: 10%;
  width: 400px;
}

label {
  margin-right: 25px;
}

select {
  border-radius: 5px;
}

table {
  border-radius: 5px;
  width:max-content;
}

.tableBtn {
  margin-left: 5px;
}